html {
  min-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to bottom, #0d1e4f 0%, #755496 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.container {
  margin: 0 auto;
  padding: 0;
}
.card {
  padding: 30px 30px 0 30px;
  margin: 80px auto;
  width: 100%;
  margin-bottom: 0;
  background-image: url(../images/Artboard\ 1.png);
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  max-width: 800px;
  border-radius: 15px 15px 0 0;
}

#input {
  border-radius: 20px 0 0 20px;
}

footer p a {
  color: #fff;
  text-decoration: underline;
}

footer p a:hover {
  color: #182456;
}

h1 {
  color: #fff;
  padding: 50px 0 0 0;
  text-align: center;
  font-size: 25px;
  z-index: 30;
  margin: 0;
}

#title {
  text-decoration: none;
  color: #fff;
}

#city {
  font-size: 60px;
  margin: 30px 0 20px 0;
}
button {
  color: #fff;
  background-color: #be9af7;
  border: 0;
  border-radius: 0 5px 5px 0;
}
#button {
  padding: 6px 14px;
  border-radius: 0 20px 20px 0;
}
.btn {
  border-radius: 0 5px 5px 0;
}

button:hover {
  cursor: pointer;
  background-color: #9b6ece;
  box-shadow: 1px 1px 12px 0 rgb(94, 78, 88, 0.3);
}

#location-button-image,
#search-button-image {
  width: 25px;
  height: 25px;
  margin: 0 0 2px 0;
}

#location-button {
  border-radius: 0;
  margin-left: 13px;
  background-color: #be9af7;
  border-radius: 30px;
}
#location-button:hover {
  background-color: #9b6ece;
  box-shadow: 1px 1px 12px 0 rgb(94, 78, 88, 0.3);
}

#date,
#temp-description {
  text-align: left;
  margin: 0 0 10px 0;
  line-height: 45px;
}
#date {
  font-size: 30px;
  line-height: 34px;
}
#temp-description {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

hr {
  height: 1px;
  background-color: #fff;
  border-radius: 7px;
}

#main-icon {
  margin: 0;
  width: 100px;
}
#main-temp {
  font-size: 60px;
  text-align: left;
  margin: 0;
  padding: 0;
}
#icon1,
#icon2 {
  margin: 0;
  width: 70px;
}
.date-time {
  font-size: 30px;
  text-align: center;
  margin: 30px 0 30px 0;
}

.card-text:last-child {
  margin-top: 35px;
  margin-bottom: 20px;
}
img {
  margin: 20px 0;
}

.form-control {
  max-width: 250px;
  border-radius: 5px 0 0 5px;
  margin-bottom: 20px;
  border: 0;
}

.wind-speed,
.pressure,
.humidity {
  margin: 15px;
  text-align: center;

  font-size: 14px;
  line-height: 24px;
}
#displayed-temp {
  margin-right: 14px;
}

#change-to-F,
#change-to-C {
  font-size: 20px;
  padding: 2px 8px;
  position: relative;
  top: -26px;
  text-decoration: none;
  color: #fff;
  background-color: #be9af7;
  transition-duration: 200ms;
  border-radius: 30px;
}

#change-to-C {
  padding: 2px 5px;
}

#change-to-F:hover,
#change-to-C:hover {
  background-color: #9b6ece;
  box-shadow: 1px 1px 12px 0 rgb(94, 78, 88, 0.3);
}

#lower-hr hr {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgb(207, 207, 207);
  border-radius: 7px;
  border-top: 0;
  height: 2px;
}

#lower-hr {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
}

#three-hour-forecast,
#five-day-forecast {
  text-align: center;
  font-size: 28px;
  background: #fff;
  color: #212025;
  margin: 0 auto;
  max-width: 800px;
  display: block;
  padding: 30px 0 5px 0;
}

#forecast-days,
#forecast {
  padding: 20px;
  font-size: 14px;
}

.forecast-icon {
  margin: 0;
}

.weekdays {
  background: #fff;
  color: #212025;
  text-align: center;
  padding: 35px 20px 0 20px;
  border-radius: 0 0 12px 12px;
  margin: 0 auto;
  max-width: 800px;
}

footer {
  text-align: center;
  margin: 32px auto 26px auto;
  max-width: 800px;
  font-size: 12px;
  max-width: 800px;
}

.col-sm {
  margin-bottom: 30px;
}

.first-weekdays {
  border-radius: 0;
}

.github-logo {
  width: 30px;
  margin: 0;
}

.linkedin-logo {
  width: 30px;
  padding-right: 2px;
  margin: 0;
}

.instagram-logo {
  width: 40px;
  margin: 0;
}

.behance-logo {
  width: 30px;
  padding: 0 0 0 3px;
}

@media screen and (max-width: 579px) {
  .col-sm {
    margin: 10px 30px 35px 30px;
  }
  #three-hour-forecast {
    font-size: 25px;
    padding-top: 24px;
  }
  .card {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .card {
    margin-top: 0;
  }
  #city {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
  }
  #date,
  #temp-description,
  #main-temp {
    text-align: center;
  }
  #main-temp {
    padding: 0;
  }
  #forecast-days,
  .card {
    border-radius: 0;
  }
}

@media screen and (max-width: 463px) {
  .wind-speed,
  .pressure,
  .humidity {
    margin: 10px 0;
  }
  h1 {
    font-size: 30px;
    padding: 0;
  }
  #lower-hr hr {
    max-width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .wind-speed,
  .pressure,
  .humidity {
    margin: 10px 30px;
  }

  #main-icon {
    margin: 0 auto;
    display: block;
  }
  #search-button-image,
  #location-button-image {
    width: 15px;
    height: 15px;
  }
  #button,
  #location-button {
    padding: 6px;
    margin-left: 0;
  }
  #input {
    padding: 0 0 0 10px;
    font-size: 14px;
  }
  #lower-hr hr {
    max-width: 250px;
  }
}
